* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #FFAFB1;
}

.feedArea {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.advicePrompt{
  background: #001427;
  color: #fff6f8;
  border: solid 1px #fff6f8;
  border-radius: 40px;
  padding: 40px;
  font-size: 17px;
  text-align: left;
  width: 500px;
  margin-top: 30px;
}

.helpButton{
  font-size: 17px;
  background: #9DF7E5;
  padding: 15px;
  border: 5px solid #00FDDC;
  border-radius: 50px;
  color: #001427;
}

.helpButton:hover {
  cursor: pointer;
  border: 3px solid #00FDDC;
}

